<div id="show-ranking-container">

    <form id="show-ranking-form">
        @if(rankings.length >= 3){
            <div class="mx-4 flex align-itmes-center justify-between ">
                <div>
                    
                </div>
                <div class="flex align-itmes-center justify-between">
                    <div class="mx-2">
                        <img width="40" hight="60" src="../../../../../assets/images/second.png" alt="">
                        <p>{{rankings[0].member.firstName}}</p>
                    </div>
                    <div class="mx-2">
                        <img width="40" hight="60" src="../../../../../assets/images/first.png" alt="">
                        <p>{{rankings[1].member.firstName}}</p>
                    </div >
                    <div class="mx-2">
                        <img width="40" hight="60" src="../../../../../assets/images/third.png" alt="">
                        <p>{{rankings[2].member.firstName}}</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
        }

        <div class="relative overflow-x-auto scrollable-table">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Competition
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Member
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Rank
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of rankings | slice: currentPageIndex * pageSize : (currentPageIndex + 1) * pageSize;let i =index " class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ranking.competition.code}}
                        </th>
                        <td class="px-6 py-4">
                            {{ranking.member.firstName}} {{ranking.member.lastName}}
                        </td>
                        <td class="px-6 py-4">
                            {{ranking.rank}}
                        </td>
                        <td class="px-6 py-4">
                            {{ranking.score}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator
                [length]="rankings.length"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [pageIndex]="currentPageIndex"
                (page)="handlePageEvent($event)"
            >
            </mat-paginator>
        </div>
    </form>
</div>