<div  id="save-devis-container">

    <form id="save-hunting-form">
        @if(errorMessage){
            <div id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <div class="ms-3 text-sm font-medium">
                    Error <span> {{errorMessage}}</span>
                </div>
            </div>
        }
        @if(successMessage){
            <div id="alert-border-3" class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <div class="ms-3 text-sm font-medium">
                    Success <span> {{successMessage}}</span>
                </div>
            </div>
        }
        <div class="flex justify-start">
             <h2 class="font-bold">Add Competition</h2>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="">
                <label for="code" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Code</label>
                <input type="text"  name="code"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
            <div class="">
                <label for="date" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Competition Date</label>
                <input type="date" name="date"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="">
                <label for="startTime" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Start Time</label>
                <input type="time"  name="startTime"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
            <div class="">
                <label for="endTime" class="block text-sm font-medium text-gray-700 dark:text-gray-400">End Time</label>
                <input type="time" name="endTime"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="">
                <label for="location" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Location</label>
                <input type="text" name="location"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
            <div class="">
                <label for="amount" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Amount Of Competition</label>
                <input min="0" type="number"  name="amount"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="flex justify-end align-center my-4 ">
            <button type="button" (click)="saveHunting()" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">save</button>
            <button (click)="closeAddHuntingModal()" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Close</button>
        </div>
    </form>
</div>