
<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64">
  <div class="p-4  mt-14">
    <router-outlet></router-outlet>
  </div>
</div> -->



<ng-container *ngIf="isLoading; else content">
  <app-spinner></app-spinner>
</ng-container>
<ng-template #content>
  @if(showContent){
  <ng-container>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  </ng-container>
  }
  <div [ngClass]="{'p-4 sm:ml-64': showContent}">
    <div [ngClass]="{'p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14': showContent}">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
